<header role="banner">
    <hgroup>
        <div class="">
          <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
          <% if (theme.sign){ %>
              <h2 style="font-style:italic; font-size: 20px"><%= theme.sign %></h2>
          <% } %>
        </div>
    </hgroup>
</header>
