<aside class="sidebar">
  <%-partial('partials/sidebar-profile')%>

  <%- css('css/sidebar') %>

  <% if (is_home()) { %>
    <h2>home</h2>
  <% } else if (is_post()) { %>

  <h2>post</h2>

  <% } else if (is_archive()) { %>
    <h2>archive</h2>

  <% } else if (is_category()) { %>
    <h2>category</h2>
  <% } %>

</aside>
