
<section class="">
  <!-- <h1>Github card</h1>
  <div class="github-card" data-user="lepture" data-repo="github-cards"></div>
  <script src="https://cdn.jsdelivr.net/gh/lepture/github-cards@latest/jsdelivr/widget.js"></script> -->
  
  <h1>Zhihu card</h1>


    <div class="zhihu-card"
        data-userhash="zhxfei"
        data-width="270"
        data-height="150"
        data-key1="answer" data-key2="agree" data-key3="thanks" data-key4="follower" data-theme="github" data-suffix="@知乎"></div>
    <script src="https://laike9m.github.io/zhihu-card/dist/widget.js"></script>
</section>
