<div class="tag_cloud">
  <div class="tag_cloud-title">
    <h3>tags</h3>
  </div>
  <div class="tag_cloud-tags">
    <% cur_tags.forEach(function(tag){ %>
      <a class="tag_cloud_tags_a" href="<%=url_for(tag.path)%>"><%=tag.name%></a>
    <% }); %>
  </div>
</div>


<hr class="profile-hr-dotted">
